server:
  port: 8082
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/quora
    username: root
    password: root
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true

jwt:
  secret: quora-app

