name: Feature Branch

on:
  push:
    branches-ignore:
      - 'master'
      - 'main'
      - 'release*'

jobs:

  test:
    name: Unit Test
    runs-on: ubuntu-latest

    services:
      mysql:
      image: mysql:5.6
      env:
        MYSQL_DATABASE: quora-db
        MYSQL_ROOT_PASSWORD: root
        MYSQL_USER: app-quora
        MYSQL_PASSWORD: root
      ports:
        - 3306:3306
      options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Maven Package
        run: mvn clean package
      - name: Maven Verify
        run: mvn clean verify -DskipTests